[submodule "rails"]
	path = rails
	url = git@github.com:appistack/appistack-rails
[submodule "ng"]
	path = ng
	url = git@github.com:appistack/appistack-ng
[submodule "swift"]
	path = swift
	url = git@github.com:appistack/appistack-swift
[submodule "ionic"]
	path = ionic
	url = git@github.com:appistack/appistack-ionic
[submodule "droid"]
	path = droid
	url = git@github.com:appistack/appistack-droid
